main.forms {
    background: linear-gradient(160deg, var(--primary-colour) 70%, var(--accent-colour) 70.01%);
    background-attachment: fixed;
}

.form {
    background-color: var(--bg-card);
    padding: var(--spacing-lg);
    border: solid var(--standard-border-size) var(--border-colour);
    box-shadow: var(--shadow-md);
    width: 50%;
}

.form-fields {
    border-top: solid var(--standard-border-size) var(--border-colour);
    border-bottom: solid var(--standard-border-size) var(--border-colour);
    padding: var(--spacing-lg) 0;
    margin: var(--spacing-md) 0;
}

.text-input {
    background-color: var(--border-colour);
    border: none;
    border-bottom: solid var(--standard-border-size) var(--black-colour);
    padding: var(--spacing-md) var(--spacing-lg);
    outline: none;
    transition: border-color 0.4s ease;
    width: 90%;
    margin: var(--spacing-md);
}

.pass-div {
    position: relative;
    width: 100%;
} 

.fa-eye, .fa-eye-slash {
    display: inline-block;
    position: absolute;
    bottom: 2.15rem;
    right: 2.2rem;
}

.text-input:focus {
    border-bottom: solid var(--standard-border-size) var(--primary-colour);
}

@media screen and (max-width: 1000px) {
    .form {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .fa-eye, .fa-eye-slash {
        bottom: 2.2rem;
        right: 3rem;
    }
}

@media screen and (max-width: 468px) {
    .form {
        width: 95%;
    }
}

