/* Form styles */
main.forms {
    background: linear-gradient(160deg, var(--primary-colour) 70%, var(--accent-colour) 70.01%);
    background-attachment: fixed;
}

/* Form container */
.form {
    background-color: var(--bg-card);
    padding: var(--spacing-lg);
    border: solid var(--standard-border-size) var(--border-colour);
    box-shadow: var(--shadow-md);
    width: 50%;
}

/* Form field container (A div) */ 
.form-fields {
    border-top: solid var(--standard-border-size) var(--border-colour);
    border-bottom: solid var(--standard-border-size) var(--border-colour);
    padding: var(--spacing-lg) 0;
    margin: var(--spacing-md) 0;
}

/* Text input styling, anything input of type="text"*/
.text-input {
    background-color: var(--border-colour);
    border: none;
    border-bottom: solid var(--standard-border-size) var(--black-colour);
    padding: var(--spacing-md) var(--spacing-lg);
    outline: none;
    transition: border-color 0.4s ease;
    width: 90%;
    margin: var(--spacing-md);
}

/* Password input container */
.pass-div {
    position: relative;
    width: 100%;
} 

/* Password visibility toggle */
.fa-eye, .fa-eye-slash {
    display: inline-block;
    position: absolute;
    bottom: 2.15rem;
    right: 2.2rem;
}

/* Text input focus style */
.text-input:focus {
    border-bottom: solid var(--standard-border-size) var(--primary-colour);
}

/* Filter dropdown for browse page*/
.filter-dropdown {
    background-color: var(--bg-card);
    border: var(--standard-border-size) solid var(--border-colour);
    border-radius: var(--standard-border-radius);
    outline: none;
    padding: var(--spacing-sm) var(--spacing-md);
    transition: border-color 0.4s ease;
    width: 100%;
    margin: var(--spacing-md) 0;
}

/* Search input group container */
.search-input-group {
    position: relative;
}

/* Search input styling for input elements of type text*/
.search-input {
    background-color: var(--bg-card);
    border: solid var(--standard-border-size) var(--border-colour);
    padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--standard-border-radius);
    outline: none;
    transition: border-color 0.4s ease;
    width: 100%;
}

/* Search button styling, contains a magnifying glass */
.search-input-group .search-btn {
    position: absolute;
    border: none;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--bg-main);
    height: calc(100% - var(--standard-border-size));
    width: 5rem;
    border-radius: var(--standard-border-radius);
    background-color: var(--primary-colour);
}

.search-btn:hover {
    background-color: var(--primary-hover);
}

.search-input:focus {
    border-color: var(--primary-colour);
}

@media screen and (max-width: 1000px) {
    .form {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .fa-eye, .fa-eye-slash {
        bottom: 2.2rem;
        right: 3rem;
    }
}

@media screen and (max-width: 468px) {
    .form {
        width: 95%;
    }
}

