@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-colour: #FEFEFE;
    --black-colour: #373737;
    --primary-colour: #0059b8;
    --primary-hover: #014893;
    --alpha-outline: #37373733;
    --standard-border-size: 2px;
    --nav-height: 5rem;
    --sidebar-width: 17rem;
    --standard-border-radius: 0.5rem;
}

/*
 * 
 * Set the default font family
 * Set the default font colour
 */
body {
    font-family: "Poppins", sans-serif;
    color: var(--black-colour);
}


/*Nav styling*/

/*Desktop background styling*/
/*Consists of a div inside of a nav*/
.sls-nav .desktop {
    /*Change background colour to a the primary colour*/
    background-color: var(--white-colour);
    /*Width must be the total width for the screen*/
    width: 100%;
    /*Height will always take up 12% of the viewport height*/
    height: var(--nav-height);
    /*Position will follow the movement of the page*/
    position: fixed;
    /*Define a translucent border on the bottom of the nav*/
    border-bottom: var(--standard-border-size) solid #37373733;
    /*Display everything in a row*/
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    
    padding: 2rem;

    z-index: 100;
}

main.content {
    transform: translateY(var(--nav-height)) translateX(var(--sidebar-width));
    width: calc(100% - var(--sidebar-width));
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

}

.sls-nav h2 {
    font-style: oblique;
}

.sls-nav h2::first-letter {
    color: #0059b8;
}

/**
 *
  *Retrieve the sections of the navbar, in this case, it's split into two categories. The logo and the nav links
 * and the account controls. 
 */

/*Display the lists of links in a row with no bullet points*/
.sls-nav .desktop > div > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/*Hide the mobile navigation for now*/
.sls-nav .mobile {
    display: none;
}

.account-controls li a {
    transition: all 0.3s ease-in-out;
}

.account-controls li a.account {
    outline: solid var(--standard-border-size) var(--primary-colour);
    color: var(--primary-colour);
}

.account-controls li a.account:hover {
    outline: none;
    background-color: var(--primary-colour);
    color: var(--white-colour);
}   

/*
 * 
 * Remove underlines from nav links
 * Change nav link text colour to a grey
 * Assign spacing between each of them 
 */
.sls-nav a {
    text-decoration: none;
    color: var(--black-colour);
    outline: none;
    height: 50%;
    width: 100%;
    
}

.sls-nav li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    
}

.page-links > li {
    padding: 1rem;
}

.page-links > li:hover {
    background-color: var(--alpha-outline);
}


.account, .account-bold {
    width: 50%;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
}


.account-controls li a.account-bold {
    background-color: var(--primary-colour);
    color: var(--white-colour); 
}

.account-controls .account-bold:hover {
    background-color: var(--primary-hover);
}


.sls-nav .mobile .close-x.hidden, .sls-nav .mobile .hamburger.hidden {
    display: none;
}

div.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - var(--nav-height));
    width: var(--sidebar-width);
    margin-top: var(--nav-height);
    position: fixed;
    overflow-y: auto;
    background-color: var(--white-colour);
    border-right: var(--standard-border-size) solid var(--alpha-outline);
    z-index: 99;
}

.sidebar > ul {
    width: 90%;
    border-bottom: var(--standard-border-size) solid var(--alpha-outline);
    height: fit-content;
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar > ul > li {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #F0F0F0;
    margin: 0.75rem 0; 
    border-radius: var(--standard-border-radius);
    height: 2.5rem;
}

.sidebar a {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #373737AA;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.sidebar li:hover {
    background-color: var(--alpha-outline);
}

#on-page {
    background-color: var(--primary-colour);
}

#on-page > a {
    color: var(--white-colour);
}

#on-page:hover {
    background-color: var(--primary-hover);
}

@media screen and (max-width: 950px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 720px) {
    div.sidebar {
        display: none;
    }
    
    html {
        font-size: 12px;
    }

    main.content {
        width: 100%;
        transform: translateY(0) translateX(0);
    }


    .sls-nav .desktop {
        display: none;
    }

    .sls-nav .mobile {
        display: flex;
        width: 100%;
        background-color: var(--white-colour);
        height: 5rem;
        border: var(--standard-border-size) solid var(--alpha-outline);
        justify-content: space-between;
        align-items: center;
    }

    .hamburger, .close-x {
        width: 3.5rem;
        height: 3rem;
        border: var(--standard-border-size) solid var(--primary-colour);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        border-radius: var(--standard-border-radius);
        cursor: pointer;
    }

    .hamburger > div, .close-x > div {
        width: 80%;
        height: 0.2rem;
        border-radius: 1rem;
        background-color: var(--primary-colour);
        
    }

    .hamburger > div {
        margin: 0.2rem;
    }

    #line1 {
        transform: translateY(0.125rem) rotateZ(-40deg);
    }

    #line2 {
        transform: translateY(-0.125rem) rotateZ(40deg);
    }

    .sls-nav .mobile > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hidden-nav {
        position: absolute;
        list-style: none;
        transform: translateX(-100vw);
    }

    .sls-nav .mobile .show-nav, .hidden-nav {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        margin-top: 5rem;
        height: 100%;
        overflow-y: scroll;
        background-color: var(--primary-colour);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        z-index: 100;
        font-size: 1.5rem;
        transition: transform 0.5s ease-in-out;
    }


    .sls-nav .mobile .show-nav li, .hidden-nav li {
        height: fit-content;
        width: 50vw;
    }
     
    .sls-nav .mobile .show-nav a, .sls-nav .mobile .hidden-nav a {
        color: var(--white-colour);
        border-bottom: var(--standard-border-size) solid var(--white-colour);
        padding: 1rem 2rem;
        height: 100%;
    }

    .account-controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 420px) {
    html {
        font-size: 10px;
    }
}



/*End of nav styling*/

